# Ignore Python virtual environment
venv/

# Ignore SageMaker Checkpointing patterns
*.sagemaker-uploading
*.sagemaker-uploaded

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook
.ipynb_checkpoints

# Ignore temporary files that are created by the operating system
*.tmp
*.temp
*.swp
.DS_Store